/*body {
   background-color: lightblue;
    text-align: center;
}*/

.navbar {
    background-color: orange;
}

/*a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
  }*/
  body {
  background-image: url("paper.gif");
}